/*
 * Some Default Styles are provided for your convenience.
 * You can start adding your own CSS below line 60.
 */

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  color: #252525;
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  font-weight: normal;
}

h1, h2, h3, nav {
  font-family: "Saira Extra Condensed", sans-serif;
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
}

/* Default section styling */
section {
  position: relative;
  width: 100vw;
  overflow: hidden;
}
section h2 {
  text-align: center;
  position: relative;
  margin: 60px 0;
}
section h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 60px;
  height: 1px;
  background-color: #f39c12;
  left: 50%;
  margin-left: -30px;
}

/* Header defaults */
header {
  background-color: rgba(37, 37, 37, 0.8);
  position: fixed;
  display: flex;
  margin: auto;
  align-items: center;
  z-index: 1;
  width: 90%;
  padding: 1em;
  margin-left: calc(4.25% - .5em);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

header .logo {
  display: flex;
  flex-grow: 3;

}

header .logo img {
  height: 70px;
  width: 300px;
}

nav {
  display: flex;
  flex-direction: row;
}
header .nav-item a{
  text-decoration: none;
  list-style: none;
  font-size: 3em;
  color: white;
  margin-right: 2rem;
}

/*
 * YOUR CSS:
 */
#about div{
  display: flex;
}

#staff .wrap {
  display: flex;
  flex-wrap: wrap;

}

#about p {
  flex: 3;
}

#about #aboutmockup {
  flex: 2;
  align-self: flex-end;
}

#staff .staff-profile {
  flex: 0 0 33%;
  text-align: center;
}

.carousel-image {
  top: 10px;
  left: 0;
  height: 100%;
  width: 100vh;
  position: absolute;
  display: block;
  min-width: 100%;

}

#carousel-text {
  z-index: 1;
  justify-content: center;
}

#carousel {
  display: flex;
  height: 100vh;
  /* width: 100vh; */
}
